{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}

<section class="chat-room">
  <button onclick="scrollToBottom()" class="down-button">
    <i class="fa-solid fa-arrow-down fa-2x"></i>
  </button>
  <div id="text-field">
    <ul id="list"></ul>
  </div>
  <div class="input-field">
    <input
      id="msg"
      placeholder="Type..."
      type="message"
      name="message"
      maxlength="100"
    />
    <button type="submit" id="sendBtn" class="send-button">Send</button>
  </div>
</section>
<script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
      integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
      crossorigin="anonymous"
    ></script>
<script
      type="text/javascript"
      src="{{ url_for('static', filename='index.js') }}"
    ></script>

{% endblock %}
