{% extends "base.html" %}

{% block title %}Home{% endblock %}


<!-- {% if login %}
{% block messageGreen %}
{{ session["name"] }} logged in.
{% endblock %}
{% endif %} -->

{% block content %}
<section class="chat-room">
    <div class="text-field">
    {% for msg in messages %}
    <h1>{{msg}}</h1>
    {% endfor %}
    </div>
    <form class="input-field" method="POST">
        <input placeholder="Type..." type="message" name="message">
        <button type="submit">Send</button>
        </form>
</section>

{% endblock %}