{% extends "base.html" %} {% block title %}Home{% endblock %}

<!-- {% if login %}
{% block messageGreen %}
{{ session["name"] }} logged in.
{% endblock %}
{% endif %} -->

{% block content %}
<section class="chat-room">
  <div class="text-field">
    {% for msg in session["messages"] %}
    <h1>{{msg}}</h1>
    {% endfor %}
  </div>
  <div class="input-field">
    <input id="msg" placeholder="Type..." type="message" name="message" />
  <button type="submit" id="sendBtn">Send</button>
  </div>
  
</section>

{% endblock %}
